:root {
    --WHITE: #FFFFFF;
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --SLATE: #434455;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
    --OCEAN: #404BBF;
    --GREY: rgba(46, 47, 66, 0.7);
    --GREEN: #31D0AA;
    --NAVY-BLUE-MODAL: rgba(46, 47, 66, 0.40);
    --DAIRY: #FCFCFC;
    --ANIMATION: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --LIGHT-SLATE: #8E8F99;
    --MOBILE: 320px;
    --TABLET: 768px;
    --DESKTOP: 1158px;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Typography */
.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.body-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.body-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.small-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
}

/* Typography */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: var(--MOBILE);
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        width: var(--TABLET);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: var(--DESKTOP);
        padding: 0 15px;
    }
}

.section {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
}

.header {
    border-bottom: 1px solid var(--CORNFLOWER);
    background: var(--WHITE);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.mobile-header-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

@media screen and (min-width: 768px) {
    .mobile-header-container {
        display: none;
    }
}

.menu-button {
    padding: 0;
    display: block;
    border: none;
    width: 24px;
    height: 24px;
    background: none;
}

.mobile-menu {
    background-color: var(--WHITE);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--ANIMATION), visibility var(--ANIMATION);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mobile-menu-container {
    height: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.mobile-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mobile-navigation-list-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
}

.mobile-navigation-list-item-link:hover,
.mobile-navigation-list-item-link:focus {
    color: var(--OCEAN);
}

.mobile-address {
    margin-bottom: 48px;
}

.mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-address-list-item-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}

.mobile-address-list-item-link:hover,
.mobile-address-list-item-link:focus {
    color: var(--IRIS);
}

.mobile-menu .social-media-links-list {
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--NAVY-BLUE);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.logo span {
    color: var(--IRIS);
}

.header .logo {
    margin-right: 76px;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-list-item-link {
    display: block;
    color: var(--NAVY-BLUE);
    position: relative;
    padding: 24px 0;
    transition: color var(--ANIMATION);
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
    color: var(--OCEAN);
}

.navigation-list-item-link_active {
    color: var(--OCEAN);
}

.navigation-list-item-link_active:after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--OCEAN);
    border-radius: 2px;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (min-width: 1158px) {
    .address-list {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

}


.address-list-item-link {
    color: var(--SLATE);
    transition: color var(--ANIMATION);
}

.address-list-item-link:hover,
.address-list-item-link:focus {
    color: var(--OCEAN);
}

/* MAIN */
.main-section {
    background: var(--GREY);
    background-image:
        linear-gradient(var(--GREY), var(--GREY)),
        url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .main-section {
        padding: 112px 0;
    }
}

@media screen and (min-width: 1158px) {
    .main-section {
        padding: 188px 0;
    }
}

.title {
    color: var(--WHITE);
    text-align: center;
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
}

@media screen and (min-width: 768px) {
    .title {
        max-width: 496px;
        margin: 0 auto 36px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 1158px) {
    .main-section {
        margin: 0 auto 48px;
    }
}

.button {
    display: block;
    padding: 16px 32px;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    background: var(--IRIS);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE);
    border: none;
    height: 56px;
    min-width: 169px;
    transition: background-color var(--ANIMATION);
}

.button:hover,
.button:focus {
    background-color: var(--OCEAN);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.advantages-list .icon-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    background: var(--CLOUD);
    margin-bottom: 8px;
    height: 112px;
}

.advantages-list .icon-holder svg {
    display: block;
    width: 64px;
    height: 64px;
    fill: var(--NAVY-BLUE);
}

.advantages-list-item {
    flex: 1;
}

.advantages-list-item h3 {
    margin-bottom: 8px;
    color: var(--NAVY-BLUE);
}

.team-section {
    background: var(--CLOUD);
}

.team-section-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.team-list-item {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-list-item img {
    width: 100%;
}

.team-list-item-container {
    padding: 32px 0;
}

.team-list-item-header {
    text-align: center;
    margin-bottom: 8px;
}

.team-list-item-text {
    text-align: center;
    margin-bottom: 8px;
}

.portfolio-section-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px 24px;
}

.portfolio-list-item {
    cursor: pointer;
    background: var(--WHITE);
    transition: box-shadow var(--ANIMATION);
}

.portfolio-list-item-image-holder {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item-image-holder-text {
    padding: 40px 32px;
    color: var(--CLOUD);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: var(--IRIS);
    transition: transform var(--ANIMATION);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-list-item-image-holder-text {
    transform: translateY(0);
}

.portfolio-list-item img {
    width: 100%;
    display: block;
}

.portfolio-list-item-container {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER);
    border-top: none;
}

.portfolio-list-item-container h3 {
    margin-bottom: 8px;
}

/* MAIN */

.footer {
    background: var(--NAVY-BLUE);
    padding: 100px 0;
}

.footer .logo {
    color: var(--CLOUD);
    margin-bottom: 16px;
}

.footer-text {
    color: var(--CLOUD);
    width: 264px;
}

.social-media-links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.social-medial-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--IRIS);
    border-radius: 50%;
    transition: background-color var(--ANIMATION);
}

.social-medial-link:hover,
.social-medial-link:focus {
    background-color: var(--OCEAN);
}

.social-medial-link-icon {
    fill: var(--CLOUD);
}

.social-media-text {
    color: var(--WHITE);
    margin-bottom: 16px;
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.logo-holder {
    margin-right: 120px;
}

footer .social-media-links-list {
    gap: 16px;
}

footer .social-medial-link:hover,
footer .social-medial-link:focus {
    background-color: var(--GREEN);
}

.modal-overlay {
    background: var(--NAVY-BLUE-MODAL);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--ANIMATION), visibility var(--ANIMATION);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    background-color: var(--DAIRY);
    border-radius: 4px;
    padding: 24px;
    padding-top: 72px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.20), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14);
    min-height: 584px;
    overflow-y: auto;
    transition: transform var(--ANIMATION);
    transform: translate(-50%, -50%);
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--CORNFLOWER);
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    transition: background-color var(--ANIMATION), border var(--ANIMATION);
    z-index: 2;
}

.close-button:hover,
.close-button:focus {
    border: none;
    background-color: var(--OCEAN);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
    fill: var(--WHITE);
}

.close-icon {
    transition: fill var(--ANIMATION);
}

.modal-text {
    text-align: center;
    color: var(--NAVY-BLUE);
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    color: var(--LIGHT-SLATE);
    margin-bottom: 4px;
    display: block;
    line-height: 1.17;
}

.input-holder {
    margin-bottom: 8px;
}

.input-content {
    position: relative;
}

.input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-MODAL);
    outline: transparent;
    padding: 8px 8px 8px 38px;
    background-color: transparent;
    transition: border-color var(--ANIMATION);
}

.input:focus,
.input:hover {
    border-color: var(--IRIS);
}

.input:focus+.input-icon,
.input:hover+.input-icon {
    fill: var(--IRIS);
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill var(--ANIMATION);
}

.textarea-holder {
    margin-bottom: 16px;
}

.textarea {
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-MODAL);
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    line-height: 1.17;
    color: var(--NAVY-BLUE-MODAL);
    background-color: transparent;
    transition: border-color var(--ANIMATION);
}

.textarea:focus,
.textarea:hover {
    border-color: var(--IRIS);
}

.checkbox-holder {
    margin-bottom: 24px;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--NAVY-BLUE-MODAL);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background-color: var(--CLOUD);
    transition: background-color var(--ANIMATION), border var(--ANIMATION), fill var(--ANIMATION);
    fill: transparent;
}

.label-checkbox {
    cursor: pointer;
    color: var(--LIGHT-SLATE);
    line-height: 1.17;
}

.checkbox:checked+.label-checkbox>.custom-checkbox {
    border: none;
    background-color: var(--OCEAN);
    fill: var(--CLOUD);
}

.privacy-policy {
    text-decoration: underline;
    color: var(--IRIS);
}

.social-media-links-holder {
    margin-right: 80px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.subscribe-footer {
    color: var(--WHITE);
    margin-bottom: 16px;
}

.email-input {
    border: 1px solid var(--WHITE);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 8px 8px 16px;
    color: var(--WHITE);
    background: transparent;
    outline: none;
    line-height: 2;
}

.email-input::placeholder {
    color: var(--WHITE);
}

.subscribe-icon {
    margin-left: 16px;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    height: 40px;
    min-width: 165px;
}
