:root {
    --WHITE: #FFFFFF;
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --SLATE: #434455;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
    --OCEAN: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Typography */
.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.body-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.body-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

/* Typography */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

.header {
    border-bottom: 1px solid var(--CORNFLOWER);
    background: var(--WHITE);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--NAVY-BLUE);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.logo span {
    color: var(--IRIS);
}

.header .logo {
    margin-right: 76px;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-list-item-link {
    display: block;
    color: var(--NAVY-BLUE);
    position: relative;
    padding: 24px 0;
}

.navigation-list-item-link:hover {
    color: var(--OCEAN);
}

.navigation-list-item-link:active:after {
    content: '';
    position: absolute;
    display: block;
    top: 20px;
    width: 100%;
    height: 4px;
    background-color: var(--OCEAN);
    border-radius: 2px;
    transform: translateY(50%);
}

.address-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.address-list-item a {
    color: var(--SLATE);
}

/* MAIN */
.main-section {
    background: var(--NAVY-BLUE);
    padding: 188px 0;
}

.title {
    color: var(--WHITE);
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}

.main-button {
    display: block;
    padding: 16px 32px;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    background: var(--IRIS);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE);
    border: none;
    height: 56px;
    min-width: 169px;
}

.main-button:hover {
    background: var(--OCEAN);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.advantages-list-item {
    flex: 1;
}

.advantages-list-item h3 {
    margin-bottom: 8px;
    color: var(--NAVY-BLUE);
}

.team-section {
    background: var(--CLOUD);
}

.team-section-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.team-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-list-item img {
    width: 100%;
}

.team-list-item-container {
    padding: 32px 0;
}

.team-list-item-header {
    text-align: center;
    margin-bottom: 8px;
}

.team-list-item-text {
    text-align: center;
}

.portfolio-section-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 48px 24px;
}

.portfolio-list-item {
    background: var(--WHITE);
    display: flex;
    flex-direction: column;
}

.portfolio-list-item img {
    width: 100%;
}

.portfolio-list-item-container {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER);
    border-top: none;
}

.portfolio-list-item-container h3 {
    margin-bottom: 8px;
}

/* MAIN */

.footer {
    background: var(--NAVY-BLUE);
    padding: 100px 0;
}

.footer .logo {
    color: var(--CLOUD);
    margin-bottom: 16px;
}

.footer-text {
    color: var(--CLOUD);
    width: 264px;
}
