:root {
    --WHITE: #FFFFFF;
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --SLATE: #434455;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
    --OCEAN: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Typography */
.header-1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.header-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
}

.header-3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.body-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
}

.small-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.medium-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.link-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
}

/* Typography */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

/* HEADER */
header {
    border-bottom: 1px solid var(--CORNFLOWER);
    background: var(--WHITE);
}

.header-container {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: var(--NAVY-BLUE);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.logo span {
    color: var(--IRIS);
}

header .logo {
    margin-right: 76px;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-list-item a {
    color: var(--NAVY-BLUE);
    position: relative;
}

.navigation-list-item a:hover {
    color: var(--OCEAN);
}

.navigation-list-item a:active:after {
    content: '';
    position: absolute;
    display: block;
    top: 20px;
    width: 100%;
    height: 4px;
    background-color: var(--OCEAN);
    border-radius: 2px;
    transform: translateY(50%);
}

.address-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.address-list-item a {
    color: var(--SLATE);
}

/* HEADER */

/* MAIN */
.main-section {
    background: var(--NAVY-BLUE);
}

.main-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.title {
    color: var(--WHITE);
    text-align: center;
    width: 496px;
}

.main-button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE);
    border: none;
}

.main-button:hover {
    background: var(--OCEAN);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.advantages-list-item {
    flex: 1;
}

.advantages-list-item h3 {
    margin-bottom: 8px;
    color: var(--NAVY-BLUE);
}

.team-section {
    background: var(--CLOUD);
}

.team-section-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.team-list-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item img {
    width: 100%;
    margin-bottom: 32px;
}

.team-list-item h3 {
    margin-bottom: 8px;
}

.portfolio-section-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    grid-gap: 48px 24px;
}

.portfolio-list-item {
    background: var(--WHITE);
    display: flex;
    flex-direction: column;
}

.portfolio-list-item img {
    width: 100%;
}

.portfolio-list-item-holder {
    padding: 32px 16px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-top: 0;
    border-style: solid;
    border-color: var(--CORNFLOWER);
}

.portfolio-list-item-holder h3 {
    margin-bottom: 8px;
}

/* MAIN */

footer {
    background: var(--NAVY-BLUE);
    padding: 100px 0;
}

footer .logo {
    color: var(--CLOUD);
    margin-bottom: 18px;
}

.footer-text {
    color: var(--CLOUD);
    width: 264px;
}
